<form class="form-inline js-new-sport-log-form" novalidate data-url="{{ path('sport_log_new') }}"
      style="margin-top: 50px; margin-bottom: 50px; margin-left: 25px; margin-right: 25px">
    <table width="100%">
        <tr>
            <td style="width: 100%">
                <div class="form-group col-sm-5" align="right">
                    <label class="sr-only control-label required" for="sport_log_challenge">
                        Choose challenge
                    </label>
                    <select id="sport_log_challenge"
                            name="challenge"
                            required="required"
                            class="form-control select-w-image-chal my-img-style"
                            style="width:100%">
                        <option value="" selected="selected">CHALLENGE</option>
                        {% for challenge in challenge_choices %}
                            <option value="{{ challenge.id }}:{{ challenge.name|truncate(25) }}">{{ challenge.name|truncate(25) }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-sm-2 h2" align="middle" style="margin-top: 12%">
                    <strong>+</strong>
                </div>

                <div class="form-group col-sm-5" align="left">
                    <label class="sr-only control-label required" for="sport_log_sport">
                        Choose sport
                    </label>
                    <select id="sport_log_sport"
                            name="sport"
                            required="required"
                            class="form-control select-w-image-sp my-img-style"
                            style='width:100%'>
                        <option value="">SPORT</option>
                        {% for sport in sport_choices %}
                            <option value="{{ sport.id }}:{{ sport.name|truncate(25) }}">{{ sport.name|truncate(25) }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
        </tr>

        <tr >
            <td class="form-group" align="center" width="100%">
                <div style="padding-top: 20px; text-align: center">
                    <label for="file" class="btn btn-tri-state btn-made-sport" id="add-img" data-img="">
                        <span class="fa fa-plus" style="width: auto" id="add-img-fa"></span> ADD IMG
                    </label>
                    <br>
                    <span id="cancel-img" class="btn sr-only" onclick="resetIMG()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <td style="padding-top: 40px; margin-right: 15px">
                <div class="col-md-7"></div>
                <div class="col-sm-5">
                    <button type="submit"
                            class="btn btn-login btn-made-sport"
                            style="width: auto;">I did Sport!</button>
                </div>
            </td>
        </tr>
    </table>
</form>

<input type="file" name="file" id="file" class="inputFile" onchange="readIMG(this);" />

