{% extends 'base.html.twig' %}

{% block body %}
    <div class="row js-new-sport-log-form-wrapper">
        <div class="col-md-7">
            <div>
                <h2><strong>You Are Currently Known As</strong></h2>
                <div style="margin-left: 20%; margin-right: 20%; margin-top: 35px" class="js-level-block">
                    <h2 class="centered"><strong><span class="js-level"></span></strong></h2>
                    <div class="js-level-bar"></div>
                    <h3 class="centered" style="margin-top: 10px">
                        <strong><span class="js-total-points"></span></strong>
                    </h3>
                </div>

                <h1 style="margin-bottom: 30px; margin-top: 50px">
                    <strong>Log New Sport</strong>
                </h1>

                <div class="logs-form">
                    {{ include('sportLogs/_sportLogForm.html.twig') }}
                </div>
            </div>
        </div>

        <div class="col-md-5" style="height: 100%; vertical-align: middle">
            <div class="leaderboard">
                <h2 class="centered" style="margin-top: 0; margin-bottom: 30px">
                    <strong>Leaderboard</strong>
                </h2>
                <div>
                    <table class="table leaderboard-table-striped leaderboard-table-leaders leaderboard-table-hover leaderboard-table">
                        <thead>
                            <tr>
                                <th class="text-center js-sorting js-username" style="vertical-align: middle">Username</th>
                                <th class="text-center js-sorting js-pts" style="vertical-align: middle">Total Points</th>
                                <th class="text-center js-sorting js-logs" style="vertical-align: middle">Sport Logs</th>
                                <th class="text-center js-sorting js-achvs" style="vertical-align: middle">Achievements</th>
                            </tr>
                        </thead>
                        <tbody class="js-leaderboard-table-body">

                        </tbody>
                    </table>
                    <div class="centered">
                        <span class="">
                            <i class="btn fa fa-caret-left fa-3x js-page-left" style="display: none"></i>
                            <strong class="h3 js-page" style="vertical-align: middle;margin-left: 50px; margin-right: 50px; display: none"></strong>
                            <i class="btn fa fa-caret-right fa-3x js-page-right" style="display: none"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="height: 100%;">
            <div class="leaderboard js-sport-log-table" style="padding-left: 0; padding-right: 0; margin-bottom: 50px">
                <h2 style="margin-top: 0; margin-bottom: 30px">
                    <strong>Your Sport History</strong>
                </h2>
                <table class="table leaderboard-table-striped leaderboard-table">
                    <thead style="padding-top: 30px; padding-bottom: 30px">
                        <tr>
                            <th width="20%" height="45" style="vertical-align: middle"><strong>CHALLENGE</strong></th>
                            <th width="20%" style="vertical-align: middle"><strong>SPORT</strong></th>
                            <th width="10%" style="vertical-align: middle"><strong>POINTS</strong></th>
                            <th width="15%" style="vertical-align: middle; text-align: center"><strong>DATE</strong></th>
                            <th width="15%" style="vertical-align: middle; text-align: center"><strong>IMAGE</strong></th>
                            <th width="5%" style="vertical-align: middle"><strong></strong></th>
                        </tr>
                    </thead>
                    <tbody class="sport-list">
                    {% for sportLog in sport_logs %}
                        <tr>
                            <td style="vertical-align: middle"><strong>{{sportLog.challenge|truncate(15) }}</strong></td>
                            <td style="vertical-align: middle">{{sportLog.sport|truncate(15) }}</td>
                            <td class="js-points"
                                data-pts="{{sportLog.points}}"
                                style="vertical-align: middle"
                                >+ {{sportLog.points}} pts</td>
                            <td style="text-align: center; vertical-align: middle">{{ sportLog.date|date("d. m. Y") }}</td>
                            <td style="text-align: center; vertical-align: middle">
                                {% if (sportLog.image != null)  %}
                                    <span class="btn js-show-image"
                                          style="padding-left: 20px; padding-right: 20px; padding-bottom: 1px; padding-top: 1px"
                                          data-img="{{ sportLog.image }}">SHOW</span>
                                {% endif %}
                            </td>
                            <td style="text-align: right; vertical-align: middle">
                                <a href="#"
                                   class="btn js-delete-sport-log btn-min"
                                   data-url="{{ path('sport_log_delete', { 'id': sportLog.id }) }}"
                                >
                                    <span class="fa fa-times" style="color: #E00027"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.18.0/sweetalert2.all.min.js"></script>
    <script src="{{ asset('assets/js/scripts/AchievementRequirements.js') }}"></script>
    <script src="{{ asset('assets/js/scripts/UpdateAchievements.js') }}"></script>
    <script src="{{ asset('assets/js/scripts/levels.js') }}"></script>
    <script src="{{ asset('assets/js/SportLogApp.js') }}"></script>

    <script>
        $(document).ready(function() {
            let $wrapper = $('.js-new-sport-log-form');
            let $outer = $('.js-new-sport-log-form-wrapper');
            let $challenges = {{ uncompleted_challenges|json_encode|raw }};
            let $sports = {{ uncompleted_sports|json_encode|raw }};
            let $achvsUpdateData = {{ achvs_update_data|json_encode|raw }};
            let $leaderBoardData = {{ leaderboard|json_encode|raw }};
            let sportLogApp = new SportLogApp($wrapper, $outer, $challenges, $sports, $achvsUpdateData, $leaderBoardData, {{ app.user.id }});
        });
    </script>

    <script>
        function readIMG(input) {
            let reader = new FileReader();

            if (!(input.files && input.files[0] && input.files[0].name.match(/\.(jpg|jpeg|png|gif)$/))){
                swal({
                    title: 'Input file\'s format not supported.',
                    type: 'warning',
                    showConfirmButton: false,
                    timer: 2000,
                });
            }
            else if(!(input.files[0].size < 1048576)){
                swal({
                    title: 'Input file is too big! Maximum supported size is 1MB.',
                    type: 'warning',
                    showConfirmButton: false,
                    timer: 2000,
                });
            }
            else{
                reader.onload = function (e) {
                    $('#add-img')
                        .attr('data-img', e.target.result)
                        .removeClass('btn-tri-state')
                        .removeClass('btn-login')
                        .addClass('btn-accepted');
                    $('#add-img-fa')
                        .removeClass('fa-plus')
                        .removeClass('fa-exclamation-circle')
                        .addClass('fa-check-circle');
                    $('#cancel-img')
                        .removeClass('sr-only')

                };
                reader.readAsDataURL(input.files[0]);
                return;
            }

            $('#add-img')
                .attr('data-img', "")
                .removeClass('btn-tri-state')
                .removeClass('btn-accepted')
                .addClass('btn-login');
            $('#add-img-fa')
                .removeClass('fa-plus')
                .removeClass('fa-check-circle')
                .addClass('fa-exclamation-circle');
            $('#cancel-img')
                .removeClass('sr-only')
        }

        function resetIMG(){
            $('#add-img')
                .attr('data-img', "")
                .removeClass('btn-accepted')
                .removeClass('btn-login')
                .addClass('btn-tri-state');
            $('#add-img-fa')
                .removeClass('fa-exclamation-circle')
                .removeClass('fa-check-circle')
                .addClass('fa-plus');
            $('#cancel-img')
                .addClass('sr-only')
        }
    </script>
{% endblock %}
