<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ app.request.get('_route')|capitalize }} | Sport Log{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
        function imageError(element) {
            element.src="assets/images/broken.png";
            $(element).attr('onerror', 'imageBlank(this);');
        }
        function imageBlank(element){
            element.onerror="";
            element.src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=";
        }
    </script>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body style="background-color: #efefee">

    <div class="navbar navbar-dark navbar-bg" role="navigation" style="height: 100%">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="container" style="height: 100%">
                <div class="navbar-header" style="height: 100%; width: 100%">
                    <a style="padding-right: 15px; padding-top: 18px; padding-left: 15px; padding-bottom: 16px; margin-right: 15px"
                       class="pull-left navbar-item navbar-item-l js-home" href="{{ path('homepage') }}">
                        <span class="fa fa-question-circle fa-2x"></span>
                    </a>
                    <a class="navbar-brand navbar-item js-log" href="{{ path('sport_logs') }}"><strong>Log Some Sport</strong></a>
                    <a class="navbar-brand navbar-item js-chal" href="{{ path('challenges') }}">Challenges</a>
                    <a class="navbar-brand navbar-item js-sp" href="{{ path('sports') }}">Sports</a>
                    <a class="navbar-brand navbar-item js-achv" href="{{ path('achievements') }}">Achievements</a>
                    <a class="navbar-brand navbar-item js-grp" href="{{ path('groups') }}">Groups</a>
                    <span class="pull-right">
                        <a class="fa fa-envelope fa-lg navbar-item" href="{{ path('message') }}"></a>
                        <a href="{{ path('profile') }}" style="margin-left: 10px; margin-right: 10px">
                            <img class="img-circle avatar" src="{{ app.user.avatar }}" onerror="imageError(this)">
                        </a>
                        <a class="fa fa-sign-out fa-lg navbar-item" href="{{ path('fos_user_security_logout') }}"></a>
                    </span>
                </div>
            </div>
        {% else %}
        <div class="container" style="padding-left: 0">
            <span class="pull-left"
               style="padding-right: 20px; padding-left: 20px; padding-top: 15px; padding-bottom: 15px" >
                    <img height="50px" width="50px" style="padding-left: 0; background-color: #EEEEEE" onerror="imageError(this)"
                         src="{{ asset('assets/images/logo.png') }}" class="img-circle">
            </span>
            <span class="h1" style="vertical-align: middle; display: block"><strong>Sport Log</strong></span>
        </div>
        {% endif %}
    </div>

    <div class="container main-content sm-">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }} alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="inner-margin">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="container sm-">
        <footer class="footer">
            <hr style="border-color: #797979"/>
            <p class="centered">
                &copy; Filip Horky {{ ''|date('Y') }}
            </p>
            <p class="centered">
                <a href="https://www.facebook.com/panvsehotvorstva" class="fa fa-facebook-square fa-2x" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/in/filiphorky" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></a>
            </p>

        </footer>
    </div>
<!-- /container -->

{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="{{ asset('assets/js/scripts/DeleteSwal.js') }}" type="text/javascript"></script>
    <script>
        let $tab;
        switch (location.pathname) {
            case Routing.generate('sport_logs'):
                $tab = $('.js-log:first');
                break;
            case Routing.generate('sports'):
                $tab = $('.js-sp:first');
                break;
            case Routing.generate('challenges'):
                $tab = $('.js-chal:first');
                break;
            case Routing.generate('achievements'):
                $tab = $('.js-achv:first');
                break;
            case Routing.generate('groups'):
                $tab = $('.js-grp:first');
                break;
            case Routing.generate('home'):
                $tab = $('.js-home:first');
                break;
            default:
                break;
        }
        if($tab !== undefined){
            setTimeout(() => {
                console.log($tab.style);
                $tab.addClass('active-tab');
            },250);

        }
    </script>
{% endblock %}

</body>
</html>
