{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}" />
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row" style="margin-left: 5px; margin-right: 5px">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ include('homepageData/greetings.html.twig') }}
        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div style="padding-bottom: 25px">
                {{ include('homepageData/homepageNews.html.twig') }}
            </div>
            <div style="padding-bottom: 25px">
                {{ include('homepageData/homepageWeeklyChallenge.html.twig') }}
            </div>
        {% endif %}
        <div class="logs-form">
            {{ include('homepageData/homepageIntro.html.twig') }}
        </div>

        {% if not(is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
            <div style="width: 100%">
                <table width="100%" style="margin-top: 50px; overflow: auto">
                    <tr class="js-login-register-wrapper">
                        <td class="js-login-wrapper" valign="top"
                            style="margin-right: 20px; padding-right: 20px"
                            {% if(regErrors|length > 0) %} width="33%" {% else %} width="66%" {% endif %}>
                            <div class="pull-right" style="width: 60%">
                                {% if(regErrors|length > 0) %}
                                    <span class="h3 pull-up pull-right js-headline" style="color: Gray">Login</span>
                                    <div class="wrapper" style="display: none">
                                {% else %}
                                    <span class="h2 pull-up pull-right js-headline" style="color: Black">Login</span>
                                    <div class="wrapper">
                                {% endif %}
                                    {{ include('@FOSUser/Security/login.html.twig') }}
                                </div>
                            </div>
                        </td>
                        <td width="4px" class="js-vertival-line"
                            style="border-left: 4px solid black">

                        </td>
                        <td class="js-register-wrapper" valign="top"
                            style="padding-left: 14px; margin-left: 14px">
                            <div class="pull-left" style="width: 60%">
                                {% if(regErrors|length > 0) %}
                                    <span class="h2 pull-up pull-left js-headline" style="color: Black">Register</span>
                                    <div class="wrapper">
                                {% else %}
                                    <span class="h3 pull-up pull-left js-headline" style="color: Gray">Register</span>
                                    <div class="wrapper" style="display: none">
                                {% endif %}
                                    {{ include('@FOSUser/Registration/register_content.html.twig') }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/HomePageApp.js') }}"></script>
    <script>
        $(document).ready(function() {
            let $loginWrapper = $('.js-login-wrapper');
            let $registerWrapper = $('.js-register-wrapper');
            let $login = {{ regErrors|length }} > 0 ? false : true;
            let homepageApp = new HomePageApp($loginWrapper, $registerWrapper, $login);
        });
    </script>
{% endblock %}